<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Frontend workflow</title>
	<meta name="description" content="A presentation gives an overview of the 2016's front end workflow related tools as well as base windows workflow setup">
	<meta name="author" content="Moorthy G">
</head>
<body>
<div class="reveal">
	<div class="slides">
		<section>
			<h1>The Great Presentation Title</h1>
			<aside class="notes">notes:</aside>
		</section>
		<section>
			<h1>Thank you :)</h1>
		</section>
	</div>
</div>
</body>
</html>
